<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Facebook Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F459662F1C0AE2B800930464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F45966431C0AE2B900930464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F459664E1C0AE2B900930464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
